body {
    background-color: black;
}
div{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top : 50%;
    left: 50%;
    transform:translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    height: fit-content;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
p::after{
    content: "";
    position: absolute;
    width: 2px;
    margin: 0;
    height:29px;
    right:0 ;
    background-color: white;
}
/*///////////////////////////*/
p:first-child{
    animation: mo 3s linear  forwards ;
    animation-delay: 0.3s;
}
@keyframes mo {
    from{
        width: 0;
    }
    to{
        width: 450px;
    }
}
p:first-child::after{
    animation: mos 0.4s linear infinite ;
    animation-delay: 0.1s;
    animation: moslast1 0.4s linear forwards 3s ; 

}
@keyframes mos {
    from{
        background-color: transparent;
    }
    to{
        background-color: white;
    }
}
@keyframes moslast1 {
    from{
        background-color: transparent;
    }
        to{
            background-color: transparent;
        }
        
    }
P:last-child{
    animation: mo1 2.1s linear forwards;
    animation-delay: 3.3s;
    width: 0px;
}
P:last-child::after{
    animation: mos1 0.2s linear infinite ;
    animation-delay: 5.4s;
    animation: moslast2 0.4s linear infinite ;
    animation-delay: 3.1;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    
}
@keyframes mo1 {
    from{
        width: 0;
    }
    to{
        width: 170px;
    }
}
@keyframes mos1 {
    from{
        background-color: transparent;
    }
    to{
        background-color: white;
    }
}
@keyframes moslast2 {
    from{
        background-color: transparent;
    }
    to{
        background-color: white;
    }
}

@media (max-width :460px) {
    p{
        font-size:16px ;
    }
    @keyframes mo1 {
        from{
            width: 0;
        }
        to{
            width: 108px;
        }
    }
    @keyframes mo {
        from{
            width: 0;
        }
        to{
            width: 290px;
        }
    }
}