html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:sans-serif;
}
:root{
    --main-background:rgb(238, 238, 238);
    --padding-box-in-dashboard:20px;
    --color-font-2:rgba(0, 0, 0, 0.264);
}
*{
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-decoration-line: none;
    color: black;
}
body{
    display: grid;
    grid-template-columns:220px repeat(4,auto);
    grid-template-rows:70px 1fr ;
}
header{
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: space-between;
}
.search-box{
    width: 150px;
    height: 30px;
    position: relative;
    margin-left:20px ;
}
@media (max-width:350px) {
    .search-box{
        width: 50%;
    }
}
.search-box+.title{
    display: none;
}
header input{
    display: flex;
    outline: none;
    border: solid 2px rgb(169 175 181);
    border-radius: 20px;
    background-image: url('../image/search.svg');
    background-color: var();
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 50% 50%;
    font-size: 12px;
    width: 10%;
    padding: 10px 0 10px 25px ;
    transition-duration: 0.5s;
}

.search-box:hover>input{
    animation: width-input 0.9s forwards ease-in-out;
}
@keyframes width-input{
    0%{
        background-position: 50% 50%;
    }
    30%,80%,100%{
        width: 70%;
        padding:10px 5px 10px 30px;
        background-position: 50% 50%
    }
    100%{
        background-position: 5% 50%
    }
}
header i{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.user-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100px;
}
.user-box img{
    width: 35px;
    border-radius: 50%;
    margin-left:40px ;
}
.user-box i:first-child{
    font-size: 25px;
    margin-right: 10px;
}
.user-box i:first-child::after{
    content:"";
    background-color: red;
    position: absolute;
    top :0;
    right: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.leftbar{
    z-index: 2;
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 3px 0px 20px 0px #00000029;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}
.title{
    width: 100%;
    font-size: 20px;
    font-weight:600 ;
    padding: 0 0 20px 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title::after{
    position: absolute;
    content:"";
    height: 1.7px;
    width: 40%;
    background-color: black;
    top: 100%;
    transform: translatey(-50%);
}
.title::before{
    position: absolute;
    content:"";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    outline: solid white 3px;
    z-index: 2;
    background-color: black;
    top: 100%;
    transform: translatey(-50%);
}
.leftbar-mainue li a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leftbar-mainue {
    margin:  0 0 0 20px;
    width: 80%;    
}
.leftbar-mainue li{
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 10px ;
    background-color: 0;
}
.leftbar-mainue li:first-child{
    background-color:var(--main-background) ;
}
.leftbar-mainue li a p{
    padding: 0 0 0 15px;
}
.home{
    grid-column-start: 2;
    grid-column-end: 6;
    overflow: hidden;
}
iframe{
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: rgb(241, 245, 249);
}
@media (max-width:800px) {
    body{
        grid-template-columns: 170px repeat(4,auto);
    }
}

@media (max-width:600px) {
    .leftbar-mainue li a p{
        display: none;
    }
    .title{
        display: none;
    }
    body{
        grid-template-columns: 40px repeat(4,auto);
    }
    .leftbar-mainue li a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .leftbar-mainue{
        margin: 10px auto;
    }
    .search-box+.title{
        display: flex;
    }
    .search-box{
        margin: 0;
    }
}
.home .tiltle-of-iframe-page{
    font-size: 10px;
}