:root{
    --width_Box_sign_In--:400px;
    --height_Box_sign_In--:500px;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.main_box_backgroundimage_singinbox{
    width: 100%;
    height: 100%;
    background-image: url(../Image/backGround_\ ingn_in.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.forDark_background{
    width: 100%;
    height: 100%;
    background-color: #00000050;
    position: relative;
}
.sign_in_box{
    background-color: aliceblue;
    width: var(--width_Box_sign_In--);
    height: var(--height_Box_sign_In--);
    position: absolute;
    top:calc((50% - (var(--height_Box_sign_In--)/2)));
    left: calc(50% - (Var(--width_Box_sign_In--)/2));
    border-radius: 20px;
}